<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Week</th>
      <th scope="col">Opponent</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>@ New York Jets  <%= image_tag("Jets.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>9/11/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>vs Miami Dolphins  <%= image_tag("Dolphins.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>9/18/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>@ New England Patriots  <%= image_tag("Pats.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>9/25/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>vs Buffalo Bills  <%= image_tag("Bills.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>10/2/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>vs Cincinnati Bengals <%= image_tag("Bengals.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>10/9/2022</td>
      <td>8:20 pm (SNF)</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>@ New York Giants <%= image_tag("Giants.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>10/16/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>vs Cleveland Browns <%= image_tag("Browns.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>10/23/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>@ Tampa Bay Buccaneers <%= image_tag("Bucs.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>10/27/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>@ New Orleans Saints <%= image_tag("Saints.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>11/7/2022</td>
      <td>8:15 pm (MNF)</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>BYE</td>
      <td>BYE</td>
      <td>BYE</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>vs Carolina Panthers <%= image_tag("Panthers.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>11/20/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>@ Jacksonville Jaguars <%= image_tag("Jags.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>11/27/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>vs Denver Broncos <%= image_tag("Broncos.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>12/4/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>@ Pittsburgh Steelers <%= image_tag("Steelers.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>12/11/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>@ Cleveland Browns <%= image_tag("Browns.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>12/18/2022</td>
      <td>TBD</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>vs Atlanta Falcons <%= image_tag("Falcons.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>12/24/2022</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>vs Pittsburgh Steelers <%= image_tag("Steelers.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>1/1/2023</td>
      <td>1:00 pm</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>@ Cincinnati Bengals <%= image_tag("Bengals.png", size: "50x50", :alt => "rss feed") -%></td>
      <td>1/8/2023</td>
      <td>TBD</td>
    </tr>
   
  </tbody>
</table>
